.chart-wrapper{
    display:flex;
}
.chart-wrapper .left-chart{
    max-width:45%;
}
.chart-wrapper .right-chart{
    max-width: 45%;
}
.center-flex {
    text-align: center !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px) {
     .table-responsive-custom {
         overflow-x: auto;
         -webkit-overflow-scrolling: touch;
     }

     .table-responsive-custom table {
         min-width: 600px;
     }
    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: block;
    }

    .table {
        width: 100%;
        min-width: 600px;
    }
}