# .NET Core
bin/
obj/

# User-specific files
.vscode/
.idea/

# Windows image file caches
Thumbs.db
Desktop.ini

# ASP.NET Core configuration files
appsettings.Development.json
appsettings.Local.json
secrets.json

# npm
node_modules/

# Others you might not want to include
*.log
*.user
